<html>

<head>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>

<style>
	h1, h3 {
		font-family: "Helvetica Neue";
	}
	

</style>

<div align="center">
	<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/c0.167.851.315/p851x315/414021_383239965020318_970869948_o.jpg"/>
	<h1>Oh hi there! We're sorry to say that Famocracy is no longer accepting submissions.</h1>
	<h3>It's been a wonderful time. Thank you for showing the world your talents :)</h3>
</div>




</html>